
/* ПЕРЕМЕННЫЕ */

$fontFamily: "HelveticaNeueCyr", sans-serif;
$maxWidthContainer: 1140px;
$mainColor: #fff;
$mainBackgroundColor: #1a1a1a;
$secondaryBackgroundColor: #252525;
$mainFontSize: 16px;
$green: #34C759;
$thirdBackgroundColor: #303030;